# http://www.gnu.org/software/automake
Makefile.in

# http://www.gnu.org/software/autoconf
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/m4
/libtool
/ltmain.sh
/stamp-h1
/autoscan.log
.deps
.libs
/config.*
Makefile

# Wiki
/wiki

# Temp folder
/tmp

# Object files
*.o
*.la
*.lo
*.so
hangeulconv

# Miscellaneous files
/ABOUT-NLS

